<div class='container'>
  <div class='row'>
     <div class='col-md-2 border'>
      <ul class="navbar-nav ml-auto mb-3">
        <h4>ジャンル検索</h4>

        <li class="nav-item">ケーキ</li>

        <li class="nav-item">焼き菓子</li>

        <li class="nav-item">プリン</li>

        <li class="nav-item">キャンディー</li>

      </ul>
    </div>

      <div class="col-sm-8 offset-md-1">
        <h3>商品一覧（全<%= @products.count %>件）</h3>
        <div class="row ">
          <% @products.each do |product| %>
            <div class="col-md-4">
              <%= link_to product_path(product) do %>
                <%= image_tag product.get_image(50, 50), format: "jpeg" %>
              <% end %>
              <p><%= product.name %></p>
              <p>¥<%= product.price %></p>
            </div>
          <% end %>
        </div>
      </div>
  </div>
</div>

