<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3 border'>
      <ul class="navbar-nav ml-auto">
        <h2>ジャンル検索</h2>
        
        <li class="nav-item">ケーキ</li>
        
        <li class="nav-item">焼き菓子</li>
        
        <li class="nav-item">プリン</li>
        
        <li class="nav-item">キャンディー</li>
      </ul>
    </div>
    
    <div class='col-md-5 offset-md-1'>
      <%= image_tag @product.get_image(100,100), format: "jpeg" %>
        <h1><%= @product.name %></h1>
          <p>
            <%= @product.description %>
          </p>
          <p>
            <%= (@product.price * 1.1).round %> 円（税込）
          </p>
          <p>
            <%= select_tag :quantity, options_for_select((1..10).to_a) %>
          </p>
          <%= submit_tag "カートに追加", class: "btn btn-success" %>
    </div>
  </div>
</div>