<div class="text-left ml-5 mt-4">
  <h1 class="text-left ml-5 pl-5 pb-2">注文情報確認</h1>
  <table class="table table-bordered table-sm">
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th>&nbsp;</th>
      <th>送料</th>
      <th></th>
    </tr>
  </thead>

</table>


  <h2>支払方法</h2>
  <p><%= @order.payment_method_i18n %></p>

  <h2>お届け先</h2>
  <p><%= @order.delivery_post_code + @order.delivery_address + @order.delivery_name %></p>

  <%= form_with(model: @order, url: orders_path, method: :post ) do |form| %>
    <%= form.hidden_field :delivery_post_code, :value => @order.delivery_post_code %>
    <%= form.hidden_field :delivery_address, :value => @order.delivery_address %>
    <%= form.hidden_field :delivery_name, :value => @order.delivery_name %>
    <%= form.submit '注文を確定する', class: 'btn btn-primary' %>
  <% end %>
  
</div>
