<div class="container mt-5 mb-5">
  <div class="row my-3">
    <div class="col-sm-8 px-sm-0 offset-sm-1">
      <h2>ログイン</h2>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-sm-9 px-sm-0 offset-sm-1">
      <h3>会員の方はこちらからログイン</h3>
    </div>
  </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="mb-3 row">
         <div class="col-2 offset-md-1"><%= f.label :email, "メールアドレス" %></div>
        <div class="col-1"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></div>
      </div>

      <div class="mb-3 row">
        <div class="col-2 offset-md-1"><%= f.label :password, "パスワード" %></div>
        <div class="col-1"><%= f.password_field :password, autocomplete: "current-password" %></div>
      </div>

      <div class="mb-3 row">
        <div class="col-2 offset-md-1"></div>
        <div class="col-1"><%= f.submit "ログイン", class:"btn btn-primary" %></div>
      </div>
    <% end %>

      <div class="mb-3 row">
      <div class="col-sm-8 px-sm-0 offset-sm-1"><h3>会員登録がお済でない方</h3></div>
      </div>

      <div class="mb-3 row">
        <div class="col-sm-8 px-sm-0 offset-sm-1"><a><%= link_to "こちら", new_customer_registration_path %>から新規登録を行ってください。</a></div>
      </div>
</div>